body{
    margin: 50px 50px;
    background-color:aquamarine;
}
.s{
    position: relative;
    top: 200px;
    border: 3px solid black;
    width: 58%;
    height: 100%;
    margin-right: 650px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 5px;
    text-align: center;
}
.s h1{
    color: blue;
    font-size: 55px;
    margin-bottom: 0px;
}
.s p{
    color: black;
    font-size: 20px;
    margin-top: 0px;
}
.con{
    position: absolute;
    overflow: hidden;
    left:650px;
    margin-right:150px;
    width:250px;
    border: 3px solid rgb(43, 2, 2);
    background-color: white;
    border: 2px solid white;
    border-radius: 25px;
}
.p{
    text-align: center;
}
.har1{
    border: none;
    border-bottom: 2px solid grey;
    outline:none;
    color:blue;
    font-size: 16px;
}
button{
    margin-top: 3%;
     width:50%;
     border-radius: 25%;
     background-color: blue;
}
.con p{
    font-size: 18px;
    margin-top: 5%;
    border-bottom: 3px;    
}
.con .n{
    position: relative;
    left:15%;
    margin-bottom: 4%;
    width:70%;
    border:2px solid green;
    background-color: green;
    color:white;
    border-radius: 10px;
    font-size: 20px;
}